<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="7.3.1" targetFramework="net461" />
  <package id="NEST" version="7.3.1" targetFramework="net461" />
  <package id="NEST.JsonNetSerializer" version="7.3.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.1" targetFramework="net461" />
  <package id="VirtoCommerce.Domain" version="2.24.22" targetFramework="net461" />
  <package id="VirtoCommerce.Platform.Core" version="2.13.17" targetFramework="net461" />
</packages>