<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="5.3.0" targetFramework="net461" />
  <package id="NEST" version="5.3.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="VirtoCommerce.Domain" version="2.23.0-rc1" targetFramework="net461" />
  <package id="VirtoCommerce.Platform.Core" version="2.13.0" targetFramework="net461" />
</packages>